body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    background-image: url("../images/image_militaire.png");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}


/*------------------------------corps de page ------------------------------*/

section {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 30px;
    padding-bottom: 30px;
}


/*------------ barre de navigation verticale ------------*/

#menuGauche {
    width: 15%;
}

#menuGauche #barre_nav {
    border-radius: 15px;
    background-color: #a9caed86;
    border: 2px solid #A9CAED;
    position: -webkit-sticky;
    position: sticky;
    top: 1%;
    box-shadow: 2px 2px 5px #A9CAED;
}

#menuGauche ul,
#menuGauche a {
    margin-top: 0px;
    margin-bottom: 0px;
    list-style-type: none;
    padding-left: 0px;
    font-size: 18px;
    text-decoration: none;
    width: auto;
    vertical-align: center;
}

#menuGauche li a {
    display: block;
    color: #000;
    padding: 4% 1% 4% 2%;
    color: black;
}

#menuGauche ul ul li a {
    padding-left: 9%;
}

#menuGauche img {
    width: 15%;
}


/*passage de la souris*/

#menuGauche li a:hover,
#menuGauche li a.active {
    background-color: white;
    transition: all .2s ease;
}

#menuGauche #ongletdebut a:hover {
    border-radius: 15px 15px 0 0;
}

#menuGauche #ongletfin a:hover {
    border-radius: 0 0 15px 15px;
}


/*----------------------- contenu -----------------------*/

#contenu {
    width: 85%;
    border: 2px solid #041733;
    box-shadow: 2px 2px 5px #041733;
    border-radius: 15px;
    margin-left: 1%;
    padding: 0% 1% 0% 1%;
    background-color: rgba(255, 255, 255, 0.555);
}

section h2 {
    margin-left: 1%;
    margin-right: 1%;
    border-bottom: 1px solid #002060;
}

#contenu .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: yellow;
    padding: 50px;
    font-size: 20px;
}

#contenu table,
td,
th {
    border-collapse: collapse;
    border: 1px solid black;
    width: max-content;
}