body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: auto;
    /*background: url("../images/image_avion");*/
    background-color: #A9CAED;
    /*ecf4fa;*/
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}


/*------------------------------corps de page ------------------------------*/

section {
    display: flex;
    margin-left: 0%;
    margin-right: 0%;
    padding-top: 0px;
    padding-bottom: 0px;
}


/*------------ barre de navigation verticale ------------*/

#menuGauche {
    width: 20%;
}

#menuGauche #barre_nav {
    border-radius: 0px;
    background-color: #A9CAED;
    /*border: 2px solid #041733;*/
    padding: 5px;
    position: -webkit-sticky;
    position: sticky;
    top: 1%;
    /*box-shadow: 2px 2px 5px #A9CAED;*/
}

#menuGauche ul,
#menuGauche a {
    margin-top: 0px;
    margin-bottom: 0px;
    list-style-type: none;
    padding-left: 0px;
    font-size: 18px;
    text-decoration: none;
    width: auto;
    vertical-align: center;
    color: #000;
    font-family: roboto, sans-serif;
}

#menuGauche li a {
    display: block;
    color: #000;
    padding: 4% 1% 4% 2%;
}

#menuGauche ul ul li a {
    padding-left: 9%;
}

#menuGauche img {
    width: 15%;
}


/*passage de la souris*/

#menuGauche li a:hover,
#menuGauche li a.active {
    background-color: white;
    transition: all .2s ease;
}


/*
#menuGauche #ongletdebut a:hover {
    border-radius: 15px 15px 0 0;
}

#menuGauche #ongletfin a:hover {
    border-radius: 0 0 15px 15px;
}
*/


/*----------------------- contenu -----------------------*/

#contenu {
    width: 95%;
    /*border: 2px solid #041733;*/
    /*box-shadow: 2px 2px 5px #041733;*/
    border-radius: 0px;
    margin-left: 0%;
    padding: 2% 1% 2% 2%;
    background-color: #ecf4fa;
    font-family: roboto, sans-serif;
}

section h2 {
    margin-left: 1%;
    margin-right: 1%;
    border-bottom: 1px solid #002060;
}

h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 22px;
}

#contenu input {
    margin: 10px 10px 10px 10px;
}

#contenu input {
    text-shadow: none;
}

.section1 button {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
}

.section1 {
    justify-content: center;
}

form input {
    padding: 10px;
}

form label {
    padding: 10px;
    font-size: 17px;
}

button {
    margin-top: 50px;
    padding: 20px;
    background-color: #ED7D31;
    color: #FFFFFF;
    border: 1px;
}


/*------------ barre de navigation verticale ------------*/

#menuGauche {
    width: 15%;
}

#menuGauche #barre_nav {
    border-radius: 15px;
    background-color: #a9caed86;
    border: 2px solid #A9CAED;
    position: -webkit-sticky;
    position: sticky;
    top: 1%;
    box-shadow: 2px 2px 5px #A9CAED;
}

#menuGauche ul,
#menuGauche a {
    margin-top: 0px;
    margin-bottom: 0px;
    list-style-type: none;
    padding-left: 0px;
    font-size: 18px;
    text-decoration: none;
    width: auto;
    vertical-align: center;
}

#menuGauche li a {
    display: block;
    color: #000;
    padding: 4% 1% 4% 2%;
    color: black;
}

#menuGauche ul ul li a {
    padding-left: 9%;
}

#menuGauche img {
    width: 15%;
}


/*passage de la souris*/

#menuGauche li a:hover,
#menuGauche li a.active {
    background-color: white;
    transition: all .2s ease;
}

#menuGauche #ongletdebut a:hover {
    border-radius: 15px 15px 0 0;
}

#menuGauche #ongletfin a:hover {
    border-radius: 0 0 15px 15px;
}