body {
    width: 100%;
    margin: 0;
    height: auto;
}


#image_fond{
    margin: 0;
    padding: 0;
    background-image: url("../images/image_militaire.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

section {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}


/*------------ barre de navigation verticale ------------*/

#menuGauche {
    width: 17%;
}

#menuGauche #barre_nav {
    border-radius: 15px;
    background-color: #a9caed86;
    border: 2px solid #A9CAED;
    position: -webkit-sticky;
    position: sticky;
    top: 1%;
    box-shadow: 2px 2px 5px #A9CAED;
}

#menuGauche ul,
#menuGauche a {
    margin-top: 0px;
    margin-bottom: 0px;
    list-style-type: none;
    padding-left: 0px;
    font-size: large;
    text-decoration: none;
    width: auto;
    vertical-align: center;
}

#menuGauche li a {
    display: block;
    color: #000;
    padding: 4% 1% 4% 2%;
    color: black;
}

#menuGauche ul ul li a {
    padding-left: 9%;
}

#menuGauche img {
    width: 15%;
}


/*passage de la souris*/

#menuGauche li a:hover,
#menuGauche li a.active {
    background-color: white;
    transition: all .2s ease;
}

#menuGauche #ongletdebut a:hover {
    border-radius: 15px 15px 0 0;
}

#menuGauche #ongletfin a:hover {
    border-radius: 0 0 15px 15px;
}


/*----------------------- contenu -----------------------*/

#contenu {
    width: 100%;
    border: 2px solid #041733;
    box-shadow: 2px 2px 5px #041733;
    border-radius: 15px;
    margin-left: 1%;
    padding: 0% 1% 0% 1%;
    background-color: rgba(255, 255, 255, 0.555);

}

.tableau
{
    border: 5px double white;
    border-radius: 10px;

}


form {

    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 45px;
    text-align: center;
}

.div-test-son,
.div-test-lumière,
.div-test-freq,
.div-test-temperature,
.div-test-tonalite {
    width: 100%;
    height: 100px;
    border: 2px solid black;

}
#searchbar
{
    position:relative; 
    width:100%; 
    height:auto;
    text-align: center;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.774);
    border: 2px solid #041733;
    border-radius: 10px;

}


.formulaire 
  {
    display:inline-block;
}
.formulaire .champ
  {
    width:600px;
    height:35px;}
.formulaire .bouton
  { 
    background-image: url(../Images/icone_loupe.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    padding: 0; 
    box-shadow: none;
}

#contenu table,td,th 
{
    text-align: center;
    border-collapse: collapse;
    border-top: 1px solid rgba(0, 0, 0, 0.37);
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
    width: 100%;
    border-radius: 15px;
}


/*bordure extérieure du tableau */

table {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.37);
   
}


/*coloration tableau lors du survol souris */

tr:not(.theader):hover {
    background-color: #ed7c3181;
    box-shadow: 1.2px 1.2px 2px #ed7c31e8;

}

tr td:nth-child(3) p:hover {
    background-color: #ed7d31;
    color: white;
    border: 1px outset #ed7d31;
    transition: all .3s ease;
}
tr td:nth-child(2) p:hover {
    background-color: #ed7d31;
    color: white;
    border: 1px outset #ed7d31;
    transition: all .3s ease;
}



/* mise en forme ligne header tableau*/

tr:nth-child(1) {
    text-align: left;
    text-indent: 16px;
    background-color: #ed7d31;
    color: white;
    font-size: larger;
    font-weight: bolder;
    height: 40px;
}


/*mise en forme ligne body du tableau */

tr:not(.theader) {
    height: 50px;
    background-color: rgba(255, 255, 255, 0.774);
    font-weight: bold;
}

a
{
    text-decoration: none;
    color: black;
}

td:nth-child(2),
td:nth-child(1),td:nth-child(3) {
    padding-left: 30px;
}


/*largeur colonne tableau */

td:nth-child(1),
tr:nth-child(1) th:nth-child(1) {
    width: 35%;
}

td:nth-child(2),
tr:nth-child(1) th:nth-child(2) {
    width: 25%;

}

td:nth-child(3),
tr:nth-child(1) th:nth-child(3) {
    width: 25%;
}


/*bouton voir résultat col3 */

tr td:nth-child(3) p {
    border: 1px outset #A9CAED;
    /*margin: 0 45px 0 45px;*/
    /*padding: 10px 0 10px 0;*/
    margin: 0 30%;
    padding: 6% 0;
    border-radius: 5px;
    background-color: #A9CAED;
}

tr td:nth-child(2) p {
    border: 1px outset #A9CAED;
    /*margin: 0 45px 0 45px;*/
    /*padding: 10px 0 10px 0;*/
    margin: 0 30%;
    padding: 6% 0;
    border-radius: 5px;
    background-color: #A9CAED;
}



/*pagination*/

.pagination {
    /*background-color: white;
    border: 2px solid #A9CAED;
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, .1), 0 1px 5px rgba(0, 0, 0, 0.329);
    border-radius: 50px;
    height: 40px;*/
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pages {
    display: inline-block;
    margin: 10px;
}

.pages a {
    border: 2.5px solid #A9CAED;
    background-color: rgba(255, 255, 255, 0.774);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.329);
    border-radius: 4px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: inline-block;
    margin: 0;
    padding: 0.8% 3%;
}

.pages a.active {
    background-color: #A9CAED;
}

.pages a:hover:not(.active):not(.etc):not(.desactive) {
    border: 2.5px solid #ed7d31;
    background-color: #ed7d31;
    color: white;
    transition: all .3s ease;
}

.pages a.desactive {
    color: rgba(0, 0, 0, 0.329);
}
