body {

background-image:url(../Images/imagemilitaire.png);
background-position: center;
background-size: 200%;
background-repeat: no-repeat;
}

header {
    width: 100%;
    margin-bottom: 40px;
    padding: 0px;
    background: linear-gradient(0.25turn, #A9CAED, #041733);
}

header a {
    /*color: #FFFF;*/
    text-decoration: none;
}
#deconnexion {
    padding: 9px 25px;
    background-color: #e36509;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
    margin-top: 20px;
    
}

#deconnexion a {
    font-family: Oswald, sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #FFF;
    text-decoration: none;
}

#deconnexion a:hover {
    color: #cc5a08;
}

nav {
    min-height: 50px;
    display: flex;
    /*width: 100%;*/
    box-shadow: 2px 2px 5px #041733;
    /*margin-bottom: 1px;*/
}

nav ul {
    display: flex;
    flex: 3 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-right: 2rem;
    margin-top: 2px;
    margin-bottom: 2px;
}

#logoinfi_container {
    flex: 3 1 40rem;
    justify-content: space-around;
    margin: 0;
}

#logosolution_container {
    flex: 3 1 45rem;
    justify-content: space-around;
    margin: 0;
}


/* réglage taille image*/

header .logo_infini {
    width: 100px;
}

header .logo_solution {
    width: 150px;
}

footer a {
    text-decoration: none;
    outline: none;
}

#logostart_container {
    float: left;
    width: 200px;
    margin-left: 10px;
}

footer {
    background: #041733;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    height: 150px;

}

.footer_social_icons {
    width: 50%;
    margin: auto;
}

.footer_social_icons ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.footer_social_icons ul li {
    display: inline-block;
    width: 45px;
    height: 35px;
    margin: 0px 10px;
    /*border-radius: 100%;
    background:#FFFF;*/
}

.footer_social_icons ul li a {
    display: block;
    font-size: 25px;
}

.footer_social_icons ul li a img {
    line-height: 50px;
}

.footer_menu_one {
    width: 50%;
    margin: auto;
}

.footer_menu_one ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.footer_menu_one ul li {
    display: inline-block;
    margin: 10px 20px;
}

.footer_menu_one ul li a {
    font-family: arial;
    font-size: 17px;
    color: #FFFF;
    text-transform: uppercase;
}

.footer_menu_one ul li a:hover {
    color: #ed7d31;
}

.footer_bottom {
    margin: 5px 0 0 0;
    padding: 1px;
    background: #A9CAED;
}

.footer_bottom p {
    font-family: arial;
    font-size: 14px;
    text-align: center;
    color: black;
    letter-spacing: 1px;
}

.footer_bottom p a:hover {
    color: #ed7d31;
}
section {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}


/*------------ barre de navigation verticale ------------*/

#menuGauche {
    width: 15%;
}

#menuGauche #barre_nav {
    border-radius: 15px;
    background-color: #a9caed86;
    border: 2px solid #A9CAED;
    position: -webkit-sticky;
    position: sticky;
    top: 1%;
    box-shadow: 2px 2px 5px #A9CAED;
}

#menuGauche ul,
#menuGauche a {
    margin-top: 0px;
    margin-bottom: 0px;
    list-style-type: none;
    padding-left: 0px;
    font-size: large;
    text-decoration: none;
    width: auto;
    vertical-align: center;
}

#menuGauche li a {
    display: block;
    color: #000;
    padding: 4% 1% 4% 2%;
    color: black;
}

#menuGauche ul ul li a {
    padding-left: 9%;
}

#menuGauche img {
    width: 15%;
}


/*passage de la souris*/

#menuGauche li a:hover,
#menuGauche li a.active {
    background-color: white;
    transition: all .2s ease;
}

#menuGauche #ongletdebut a:hover {
    border-radius: 15px 15px 0 0;
}

#menuGauche #ongletfin a:hover {
    border-radius: 0 0 15px 15px;
}

#contenu {
    width: 100%;
    border: 2px solid #041733;
    box-shadow: 2px 2px 5px #041733;
    border-radius: 15px;
    margin-left: 1%;
    padding: 0% 1% 0% 1%;
    background-color: rgba(255, 255, 255, 0.555);
}

section h2 {
    margin-left: 1%;
    margin-right: 1%;
    border-bottom: 1px solid #041733;
    background-color: #041733;
    height: 160px;
    color: white;
    
}

.profil
{
    vertical-align: middle;
    margin-left: 40px;
    margin-top: 20px;
}

img
{
    vertical-align: middle;
}

h3
{
    font-size: 21px;
}



/* ------step progress bar----- */

.step_progress {
    width: 100%;
    margin: auto;
    display: inline-block;
    position: relative;
    z-index: 1;
}

.step_progress ul li {
    display: inline-block;
    width: 24%;
    position: relative;
    text-align: center;
    list-style-type: none;
    font-weight: bold;
    vertical-align: top;
}

.step_progress ul {
    counter-reset: step;
    margin: auto;
}


/*fixe les etapes*/

.step_progress ul li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    box-shadow: 1px 1px 2px black;
    display: block;
    margin: 0 auto 2px auto;
    border-radius: 50%;
    line-height: 27px;
    background: white;
    text-align: center;
    font-weight: bold;
}


/*fixe les lignes*/

.step_progress ul li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2.5px;
    background: black;
    box-shadow: 1px 1px 2px black;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.step_progress ul li:first-child:after {
    content: none;
}


/*applique la progression*/

ul li.ok:before {
    border: 2px solid #ed7d31;
    box-shadow: 1px 1px 2px #ed7d31;
    background: #ed7d31;
    color: white;
}

ul li.ok:after {
    background: #ed7d31;
    height: 3px;
    box-shadow: 1px 1px 3px #ed7d31;
}


/*---- attribuer session à un utilisateur----*/

#contenu .onglet {
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin: 15px auto 0 auto;
}

.onglet .element1,
.onglet .element2 {
    width: 100%;
    margin: 0 auto;
    height: 40px;
    font-size: 17px;
}

.onglet .element1 {
    color: #ed7d31;
    font-weight: bold;
    border: 2px solid #041733;
    border-bottom: none;
    border-radius: 30px 30px 0 0;
    background-color: rgba(255, 255, 255, 0.774);

}

.onglet .element2 {
    border-bottom: 2px solid #041733;
    text-shadow: 0.3px 0.8px 10px white;
    font-weight: bold;
}

.element2 a,
.element2 a:visited {
    text-decoration: none;
    color: black;
}

#contenu table,td 
{
    text-align: center;
    border-collapse: collapse;
    border-top: 1px solid rgba(0, 0, 0, 0.37);
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
    width: 100%;
    border-radius: 15px;
}


/*bordure extérieure du tableau */

table {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.37);
   
}


/*coloration tableau lors du survol souris */



tr td:nth-child(2) p:hover {
    background-color: #ed7d31;
    color: white;
    border: 1px outset #ed7d31;
    transition: all .3s ease;
}



/* mise en forme ligne header tableau*/



/*mise en forme ligne body du tableau */

tr {
    height: 50px;
    background-color: rgba(255, 255, 255, 0.774);
    font-weight: bold;
}

a
{
    text-decoration: none;
    color: black;
}

td:nth-child(2),
td:nth-child(1) {
    padding-left: 30px;
}


/*largeur colonne tableau */

td:nth-child(1),
tr:nth-child(1) th:nth-child(1) {
    width: 35%;
}

td:nth-child(2),
tr:nth-child(1) th:nth-child(2) {
    width: 25%;

}
