body {
    width: 100%;
    margin: 0;
    padding: 0;
    background: url("../images/image_militaire.png");
    height: auto;
    background-attachment: fixed;
}


/*------------------------------corps de page ------------------------------*/

section {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 15px;
    padding-bottom: 15px;
}


/*------------ barre de navigation verticale ------------*/

#menuGauche {
    width: 15%;
}

#menuGauche #barre_nav {
    border-radius: 15px;
    background-color: #a9caed86;
    border: 2px solid #A9CAED;
    position: -webkit-sticky;
    position: sticky;
    top: 1%;
    box-shadow: 2px 2px 5px #A9CAED;
}

#menuGauche ul,
#menuGauche a {
    margin-top: 0px;
    margin-bottom: 0px;
    list-style-type: none;
    padding-left: 0px;
    font-size: large;
    text-decoration: none;
    width: auto;
    vertical-align: center;
}

#menuGauche li a {
    display: block;
    color: #000;
    padding: 4% 1% 4% 2%;
    color: black;
}

#menuGauche ul ul li a {
    padding-left: 9%;
}

#menuGauche img {
    width: 15%;
}


/*passage de la souris*/

#menuGauche li a:hover,
#menuGauche li a.active {
    background-color: white;
    transition: all .2s ease;
}

#menuGauche #ongletdebut a:hover {
    border-radius: 15px 15px 0 0;
}

#menuGauche #ongletfin a:hover {
    border-radius: 0 0 15px 15px;
}


/*----------------------- contenu -----------------------*/

section #contenu {
    width: 85%;
    border: 2px solid #041733;
    box-shadow: 2px 2px 5px #041733;
    border-radius: 15px;
    margin-left: 1%;
    padding: 0% 1% 0% 1%;
    background-color: white;
}

section h2 {
    border: 6px double #A9CAED;
    text-align: center;
    font-family: calibri;
}

section h3 {
    border: 4px double black;
    padding: 10px;
    font-weight: bold;
    font-family: calibri;
}

section h4 {
    margin-left: 5px;
    border-bottom: 1px solid black;
    font-weight: bold;
    font-family: calibri;
    font-size: 25px,
}

section h5 {
    margin-left: 10px;
    font-weight: bold;
    font-family: calibri;
    font-size: 25px,
}

.div-son-attendu,
.div-son-inattendu,
.div-lumière-inattendue {
    margin: 5px 15px 15px;
    height: 250px;
    border: 2px dashed black;
}

.div-lumière-attendue {
    margin: 5px 15px 15px;
    height: 400px;
    border: 2px dashed black;
}

.div-lumière-jour,
.div-lumière-nuit,
.div-champs-vision {
    margin: 5px 15px 15px;
    height: 50px;
    border: 1px dashed black;
}

.div-test-son,
.div-test-freq,
.div-test-temperature,
.div-test-tonalite {
    width: 100%;
    height: 700px;
    border: 2px solid black;
}

.div-son-attendu p,
.div-son-inattendu p {
    font-family: calibri;
    margin-left: 5px;
}

table {
    font-family: calibri;
    margin-left: 10px;
    width: 98%;
    height: 200px;
    border-collapse: collapse;
    font-size: 18px;
}

td {
    border: 1px solid lightgray;
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: lightgray;
}

#bilan {
    text-align: bottom;
    font-family: calibri;
    font-weight: bold;
    margin-left: 15px;
}

#bilan li a {
    color: red;
}