body{
    padding: 0;
    margin: 0;
    background-color: #041733;
}

li, a, button {
    font-family: Oswald, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #FFF;
    text-decoration: none;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0px 5%;
    /*background: linear-gradient(0.25turn, #e36509, #041733)*/
    background-image: linear-gradient(to left, #041733, #432356, #8c215e, #c82f46, #e36509);
}


#logo_infinite img{
    width: 70%;
}

#menu_principal {
    list-style: none;
}

#menu_principal li {
    display: inline-block;
    padding: 0px 40px
}

#menu_principal li a {
    transition: all 0.3 ease 0s;
    text-shadow: #041733 1px 0 10px;
}

#menu_principal li a:hover {
    color: #041733
}

button {
    padding: 9px 25px;
    background-color: #e36509;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

button:hover {
    background-color: #cc5a08;
}

#histoire, #solution{
    font-family: Oswald, sans-serif;
    font-weight: 500;
    color: #FFF;
    text-decoration: none;
    font-size: 1.3em;
}

/* HISTOIRE*/

#histoire{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 750px;
    background-image: url("images/histoire.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#logo_apmd{
    display: flex;
    width: 33%;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

#logo_apmd img{
    width: 80%;
}

#histoire p{
    width: 70%;
    text-align: justify;
    text-shadow: #041733 2px 0 10px;
}

#histoire h1{
    padding-bottom: 5%;
    letter-spacing: 10px;
    text-shadow: #041733 1px 0 10px;
    font-size: 50px;
}

#texte_histoire{
    width: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cadre_histoire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    /*background-color: rgba(255, 255, 255, 0.5);*/
    background-image: linear-gradient(to left,rgba(4, 23, 51, 0.5), rgba(67, 35, 86, 0.5), rgba(140, 33, 94, 0.5), rgba(200, 47, 70, 0.5), rgba(227, 101, 9, 0.5));
}

#solution{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 850px;
    background-image: url("images/solution.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#logo_solution{
    display: flex;
    width: 33%;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}

#logo_solution img{
    width: 80%;
}

#solution p{
    width: 70%;
    text-align: justify;
    text-shadow: #041733 1px 0 10px;
}

#solution h1{
    padding-bottom: 5%;
    letter-spacing: 10px;
    text-shadow: #041733 1px 0 10px;
    font-size: 50px;
}

#texte_solution{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66%;
}

#cadre_solution{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    /*background-color: rgba(255, 255, 255, 0.5);*/
    background-image: linear-gradient(to left,rgba(4, 23, 51, 0.5), rgba(67, 35, 86, 0.5), rgba(140, 33, 94, 0.5), rgba(200, 47, 70, 0.5), rgba(227, 101, 9, 0.5));
}